
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile-image {
    margin-left: 20px;
    width: 200px;
    height: auto;
    margin-top: 15px;
}

.container {
    width: 60%;
    margin: auto;
    padding-bottom: 2.5rem;
}
.content-container {
    display: flex;
    align-items: flex-start;
}



@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .content-container {
        flex-direction: column;
    }
    .profile-image {
        margin: 0 auto;
        width: 150px;
    }
}
